.mb-100{
   margin-bottom: 100px;
}
.bg-orange{
    background-color: #FCEAE8;
}
.price-color{
    color: #FF136F;
}
.default-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat-1{
    background-color: #FFA500;
}
.cat-2{
    background-color: #DA70D6;
}
.cat-3{
    background-color: #0000FF;
}
.category img{
    width: 100px;
}
.cat-1, .cat-2, .cat-3 {
    padding: 10px 30px;
    border-radius: 10px;
    color: #fff;
}
.backpack .card{
    min-height: 650px;
}